/* .MessageBox{
    background-color: silver;
    display: inline-block;
    padding: 1vmax;
    margin: 1.8vmax;
    border-radius: 0.5vmax;
    
}
.Right{
    float: right;
    background-color: rgb(193, 188, 189);
    color: white;

    } 
    .Left{
        float:left;
        background-color: rgb(90, 220, 20);
        color: white;
    
        }  */

        .MessageBox {
            display: inline-block;
            align-self: flex-start;
            padding: 1vmax;
            margin: 0.5vmax;
            border-radius: 0.5vmax;
            max-width: 70%;
            word-wrap: break-word;
          }
          
          .Right {
            align-self: flex-end;
            width: 40%;
            background-color: rgb(193, 188, 189);
            color: white;
           
          }
          
          .Left {
            align-self: flex-start; /* Align to the left */
            width: 40%;
            background-color: rgb(90, 220, 20);
            color: white;
            
          }